@media only screen and (max-width: 600px) { 
    .phone-only { 
        display: block; 
    } 
} 


@media only screen and (min-width: 601px) { 
    .phone-only { 
        display: none; 
        /* Hide the element on larger screens */
    }
}

body { 
 
    background-color: rgb(93, 166, 177);
} 

.content { 
    background-color: rgb(93, 166, 177);
}

h1 {
    text-align: center;
}

.first, .second, .players {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first, .second {
    overflow: hidden;
    transform: scale(1.2); 
    transform-origin: center; 
}

.first, .second, .third {
    margin-top: 25px;
    min-height: 400px;
    background-color: rgb(93, 166, 177);
}

.third {
    overflow: hidden;
    transform: scale(1.5); 
    transform-origin: center; 
    padding-left: 25px;
    padding-right: 50px;
}


.players {
    padding: 10px;
    border: 3px solid rgb(52, 51, 51);
    border-radius: 10px 10px 0px 0px;
    background-color: lightslategray;
}


input {
    margin: 10px;
}


.hide {
    display: none;
}


/* single player row */
.thirdly {
    margin: -2px;
    align-items: center;
    display: flex;
    flex-direction: row;
}


p {
    text-align: center;
}

.wasabi {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.killa {
    background-color: lightgreen;
}

.gameOver {
    background-color: gray;
}

.scoreBtn, .scoreEl {
    align-items: center;
    text-align: center;
    font-size: xx-large;
    border-radius: 10px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.shuffleBtnDiv {
    display: flex;
    justify-content: center;
}

.btns {
    margin-bottom: 25px;
}

.howay {
    background-color: aqua;
}

.padded {
    margin-top: 50px;
    padding-left: 25px;
    /* padding: 10px; */
}

#playerCount {
    font-size: 30px;
    min-height: 35px;
    min-width: 55px;
    text-align: center;
    border: 3px solid turquoise;
}


.nextBtn {
    min-width: 100px;
    min-height: 35px;
    border-radius: 12px;
}

.backBtn, .startBtn {
    border: 3px solid rgb(52, 51, 51);
    min-height: 50px;
    min-width: 132px;

}

.playa {
    min-height: 30px;
    max-width: 175px;
    font-size: 20px;
}

#numberDropdown {
    min-height: 36px;
    margin-left: -11px;
    margin-right: 11px;
}

.target {
    display: flex;
    justify-content: center;
    min-width: 285px;
}




.startBtn{
    border-radius: 0px 0px 12px 0px;
}

.backBtn {
border-radius: 0px 0px 0px 12px;
}
