body, html { 
    background-color: rgb(93, 166, 177);
} 

.content { 
    background-color: rgb(93, 166, 177);
}

h1 {
    text-align: center;
}

.first, .second, .players {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.first, .third {
    margin-top: 25px;
    min-height: 400px;
    background-color: rgb(93, 166, 177);
}

.third {
    display: flex;
    justify-content: center;
}

.second {
    /* margin-top: 10px; */
    background-color: rgb(93, 166, 177);
}



.players {
    margin-top: 30px;
    padding: 10px;
    border: 3px solid rgb(52, 51, 51);
    border-radius: 10px 10px 0px 0px;
    background-color: lightslategray;
}


input {
    margin: 10px;
}


.hide {
    display: none;
}


.thirdly {
    margin: -2px;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* border: 5px solid palevioletred; */
}


p {
    text-align: center;
}



.scoreBtn {
    margin: 2px;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    border-radius: 10px;
    min-width: 40px;
}

.scoreEl {
    text-align: center;
    font-size: 60px;
    font-weight:900;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 7px;
    width: 50px;
}

.wasabi {
    height: 70px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.namer {
    padding: 3px;
    text-align: center;
    font-size: 30px;
}

.numbino {
    text-align: center;
    font-size: 40px;
    min-width: 40px;
}



.killa {
    background-color: lightgreen;
}

.gameOver, .grey {
    background-color: gray;
}



.shuffleBtnDiv {
    display: flex;
    justify-content: center;
}

.btns {
    margin-bottom: 25px;
}

.howay {
    background-color: aqua;
}


#playerCount {
    font-size: 30px;
    min-height: 55px;
    min-width: 120px;
    text-align: center;
    border: 3px solid black;
    border-radius: 12px 12px 0px 0px;

}


.nextBtn {
    min-width: 120px;
    min-height: 45px;
    border: 3px solid black;
    border-radius: 0px 0px 12px 12px;
}

.backBtn, .startBtn, .addBtn {
    border: 3px solid rgb(52, 51, 51);
    min-height: 50px;
    min-width: 132px;

}

.playa {
    min-height: 30px;
    max-width: 175px;
    font-size: 20px;
}

#numberDropdown {
    min-height: 36px;
    margin-left: -11px;
    margin-right: 11px;
}

.target {
    display: flex;
    justify-content: center;
    min-width: 285px;
}


.addBtn {
    border-radius: 0px 0px 12px 0px;
}

.startBtn{
    border-radius: 0px 0px 12px 0px;
}

.backBtn {
    border-radius: 0px 0px 0px 12px;
}





.playingField {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    min-height: 100px;
    align-items: center;
}


.boardHeaders {
    margin: 15px;
    font-size: 20px;

}

